* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #177486;
    margin: 200px 0;
}

main {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    min-height: max-content;
    padding: 0;
    background-color: white;
    border-radius: 20px;
    height: max-content;
    flex-direction: column;
    color: #177486;
    text-align: center;
}

#logo {
    width: 150px;
    position: relative;
    bottom: 50px;
}
#info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img {
    height: auto;
    width: 100%;
    border: solid black 2px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

section, #info {
    width: 50%;
}

section a, section a:link, section a:visited, section a:active {
    border: dashed #1d627e 2px;
    color: #177486;
    font-weight: bold;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 20px;
    text-decoration: none;
}

section a:visited {
    color: #177486;
}

section p {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #bd6971;
    text-decoration: underline;
}
#images {
    display: flex;
    width: 50%;
    margin: 1rem 0;
}

#images img {
    width: auto;
}

#showcase {
    width: 50%;
    margin-bottom: 2rem;
}


@media (max-width: 960px) {
    section, #info, #images {
        width: 80%;
    }
    section a {
        font-size: 1rem;
    }
}